[submodule "docker/docker-freertos-sdl2"]
	path = docker/docker-freertos-sdl2
	url = https://github.com/PhilippvK/docker-freertos-sdl2.git
[submodule "lib/Gfx"]
	path = lib/Gfx
	url = https://github.com/alxhoff/FreeRTOS_Emulator_Graphics.git
	branch = master
[submodule "lib/StateMachine"]
	path = lib/StateMachine
	url = https://github.com/alxhoff/FreeRTOS_State_Machine.git
[submodule "lib/AsyncIO"]
	path = lib/AsyncIO
	url = https://github.com/alxhoff/FreeRTOS_POXIS_Async_IO.git
[submodule "lib/LL"]
	path = lib/LL
	url = https://github.com/alxhoff/Linked_List.git
[submodule "lib/FreeRTOS_Kernel"]
	path = lib/FreeRTOS_Kernel
	url = https://github.com/alxhoff/FreeRTOS-Kernel.git
    branch = main
